@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="cadastro-heroes">
        <h1 class="cadastro-heroes-title">seja bem-vindo</h1>
        <h2 class="cadastro-heroes-subtitle">cadastre a baixo os novos funcionários</h2>
        <div class="btn-cadastro">
            <a class="btn-cadastro-link" asp-area="" asp-controller="Funcionarios" asp-action="Create">cadastrar</a>
        </div>
    </div>
    
    
</div>
